<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if user.is_authenticated %}
    <a href="{% url 'tasks:task-list' %}">Go to your tasks</a>
{% else %}
    <a href="{% url 'accounts:login' %}">Proceed to login</a>
    <a href="{% url 'accounts:register' %}">Register</a>
{% endif %}
<br>
<h2>Modified by CD</h2>
</body>
</html>