name: Todoapp Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build Todoapp Docker image
      run: docker compose up
    - name: Run tests
      run: docker exec todoapp sh -c "pytest ."
